### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea/
*.iml
log/
src/main/resources/config.properties
src/main/resources/config.yml
src/test/resources/config.properties
src/test/resources/config.yml
src/test/java/io/github/sinri/keel/test/mysql/ag

# 项目排除路径
/target/